.space_cat_chat{
    position: fixed;
    z-index: 450;
    top: 89%;
    right: 25px;
    width: 75px;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transform: rotateY(180deg);
}
#chatbot > div.chatbot-header{
    display: flex;
}
.chat-bot-hello{
    position: fixed;
    z-index: 350;
    bottom: 10%;
    padding: 8px;
    text-align: center;
    right: 80px;
    height: auto;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease;
    font-size: 20px;
}
.appear {
    opacity: 1;
    transform: translateY(0);
}
.chatbot-container {
    display: none;
    position: fixed;
    z-index: 340;
    bottom: 10%;
    right: 85px;
    width: 240px;
    height: 360px;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid white;
}
.chatbot-header {
    border-bottom: 1px solid white;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.chatbot-header:hover {
    background-color: transparent;
}
.chatbot-header .icon {
    display: inline-block;
    margin-right: 5px;
}
#chatbotContent{
    overflow-y: auto;
    overflow-x: hidden;
    height: 235px;
    font-weight: normal;
    border-bottom: 1px solid grey;
    font-size: 18px;
}
.chatbot-content {
    padding: 10px;
    display: none;
    font-size: 18px;
}
#chatbotContent > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 15px;
    bottom: -2px;
}
#chatbotContent > div > button{
    color: white;
    background: transparent;
    padding: 4px;
    height: 32px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 5px;
}
#chatbotContent > div > button:active{
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
#inputMessage{
    height: 32px;
    border: 1px solid white;
    background: transparent;
    padding: 5px;
    border-radius: 5px;
    color:white;
    width: 160px;
    margin-right: 5px;
    font-size: 18px;
}
.sent{
    border: 0.5px solid grey;
    color: white;
    margin: 10px 0;
    border-radius: 5px;
    margin-left: 10px;
    padding: 4px 6px;
    width: 90%;
    font-size: 18px;
    word-wrap: break-word;
}
.received{
    font-size: 18px;
    border: 0.5px solid white;
    color: grey;
    margin: 10px 0;
    border-radius: 5px;
    margin-right: 10px;
    padding: 4px 6px;
    width: 90%;
    word-wrap: break-word;
}
#inputMessage{
    z-index: 400;
}   
#chatbotContent > div > button{
    z-index: 400;
}
.received_container{
    align-items: center;
    display: flex;
}
.sent_container{
    align-items: center;
    display: flex;
}
.catbot{
    width: 22px;
    height: 22px;

}
.chatPerson{
    margin-left: -3px;
    width: 22px;
    height: 22px;
}
/*scroll chat-bot*/
#chatbotContent::-webkit-scrollbar {
    width: 8px;
}
#chatbotContent::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 4px;
}
#chatbotContent::-webkit-scrollbar-thumb:hover {
    background-color: white;
}
/*loading icon*/
#loading_chat{
    width: 30px;
    display: none;
    position: absolute;
    left: 140px;
}
@media screen and (max-width: 1200px){
    #contactForm{
        width: 40% !important;
    }
    .formContainer{
        margin-top: 100px;
        padding: 10px;
    }
    .chatbot-container{
        height: 180px;
        width: 190px;
    }
    .chatbot-header{
        padding: 4px
    }
    #chatbotContent{
        height: 110px;
    }
    #chatbotContent > div{
        padding: 3px;
    }
    #chatbotContent > div:nth-child(1){
        right: 0px;
        bottom: -13px;
    }
    #inputMessage{
        width: 75%;
        height: 25px;
    }
    #chatbotContent > div > button{
        height: 25px;
    }
    .sent{
        font-size: 10px;
    }
    .received_container{
        font-size: 10px;
    }
}
/*movile*/
@media only screen and (max-width: 699px) and (min-width: 426px){
    .formContainer{
        padding: 10px;
    }
    .chatbot-container{
        height: 180px;
        width: 190px;
    }
    .chatbot-header{
        padding: 4px
    }
    #chatbotContent{
        height: 110px;
    }
    #chatbotContent > div{
        padding: 3px;
    }
    #chatbotContent > div:nth-child(1){
        right: 0px;
        bottom: -13px;
    }
    #inputMessage{
        width: 75%;
        height: 25px;
    }
    #chatbotContent > div > button{
        height: 25px;
    }
    .sent{
        font-size: 10px;
    }
    .received_container{
        font-size: 10px;
    }
}
@media screen and (max-width: 425px) {
    .formContainer{
        padding: 10px;
    }
    .chatbot-container{
        height: 180px;
        width: 190px;
    }
    .chatbot-header{
        padding: 2px
    }
    #chatbotContent{
        height: 65px;
    }
    #chatbotContent > div{
        padding: 3px;
    }
    #chatbotContent > div:nth-child(1){
        right: 0px;
        bottom: -13px;
    }
    #inputMessage{
        width: 75%;
        height: 19px;
    }
    #chatbotContent > div > button{
        height: 19px;
        padding: 2px;
    }
    .sent{
        font-size: 10px;
    }
    .received_container{
        font-size: 10px;
    }
}
@media screen and (max-width: 360px) {
    .chatbot-container{
        height: 120px;
        width: 35%;
    }
    .sent{
        font-size: 10px;
    }
    .received_container{
        font-size: 10px;
    }
}