.formContainer{
    display: flex;
    position: relative;
    width: 100%;
    height:min-content;
    padding: 25px;
    z-index: 300;
    justify-content: center; 
}
.formContainer > form >h3 {
    padding-bottom: 30px;
    text-align-last: center;
    font-size: 28px;
}
form {
    width: 50%;
    background: transparent;
    color: white;
    margin: 80px 0 0 0;
    padding: 10px;
    font-family: Myriad;
    height: fit-content;
    text-shadow: white 0px 0 20px;
    z-index: 350;
}
label {
    display: block;
    margin-bottom: 20px;
}
input[type="text"],input[type="email"],textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-family: Myriad;
    border-radius: 5px;
}
textarea{
    min-height: 150px;
}
input[type="submit"] {
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}
input[type="submit"]:hover {
    color: rgb(185, 185, 185);
    filter: drop-shadow(0 0 10px rgb(185, 185, 185));
}
input[type="submit"]:active {
    border: 1px solid rgb(185, 185, 185);
}
@media screen and (max-width: 699px) {
    body > div.formContainer {
        margin-top: 70px;
    }
    form{
        margin: 0 0 0 0;
    }
}