.bodyBackground, html , body{
    background: url(/assets/background_stars.jpg);
    background-repeat: repeat;
    overflow-y: auto;
}
.canvas{
    width: 100%;
    display: grid;
    padding: 50px;
    justify-content: center;
    margin-top: 50px;
}
.canvas > div{
    width: 100%;
    display: flex;
}
#game_canvas > div:nth-child(1) > table{
    border-spacing: 0px;
}
#myCanvasGame{
    border-bottom-left-radius: 5px;
}
.points{
    padding: 10px;
    border-top-left-radius: 5px;
}
.btnGame{
    padding: 0 10px;
    background: transparent;
    color: white;
    border: 1px solid white;
    transition: filter 0.3s ease;
    border-top-right-radius: 5px;
}
.btnGame:hover{
    text-decoration: line-through;
    filter: drop-shadow(0 0 7px white);
}
.btnGame:active{
    text-decoration: line-through;
    filter: drop-shadow(0 0 7px grey);
}
.play{
    display: flex;
}
.game_scores{
    display: grid;
}
.game_scores > table{
    border-collapse: collapse;
    justify-self: right;
}  
.game_scores > table > tr,th, td {
    padding: 5px;
    border: 1px solid white;
    text-align-last: auto;
}
.loading{
    padding: 15px;
    justify-content: center;
}
#game_canvas > div:nth-child(2) > div > div > img{
    width: 75px;
    align-self: center;
}
#inputGame{
    padding: 10px;
    border-radius: 5px;
    border-color: white;
    background: transparent;
    color: white;
}
#inputGame:active{
    border-color: grey;
}
#submitGame{
    padding: 9px;
    margin-left: 5px;
    border-color: white;
    background: transparent;
    border-radius: 5px;
    color: white;
}
#submitGame:hover{
    border-color: grey;
}
#submitGame:active{
    border-color: white;
}
.start-container{
    display:flex;
    position: absolute;
    z-index: 320;
}
.start-game{
    background-color: transparent;
    padding: 5px;
    width: 100px;
    height: 60px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 17px;
    border-radius: 15px;
}
.start-game:hover{
    color: rgb(183, 183, 183);
    border-color: rgb(215, 215, 215);
    filter: drop-shadow(0 0 7px white);
}
@media screen and (max-width: 699px) {
    .canvas > div{
        display: grid;
    }
    #restartGame{
        padding: 15px;
    }
    #game_points{
        width: 100%;
    }
    /*html,body, .body_content{*/
    /*    overflow-y: auto;*/
    /*}*/
    #content > div > div.networks{
        top: 145% !important;
    }
    .canvas{
        margin-top: 100px;
    }
}