@font-face {
    font-family: Myriad;
    src: url(./fonts/Myriad\ Pro\ Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Myriad;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: white;
    text-shadow: white 0px 0 20px;
    z-index: 350;
}
#content.body_content > .header .text_zone ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    text-shadow: white 0px 0 20px;
    z-index: 350;
}
#content > div.header > div.networks > ul > li:nth-child(3){
    z-index: 500 !important;
}
#content.body_content > .header .text_zone ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    width: 0;
    height: 4px;
    background-color: black;
    opacity: 0;
    z-index: 350;
    transition: width 0.5s, opacity 0.5s, left 0.5s;
}
#content.body_content > .header .text_zone ul li a:hover {
    filter: drop-shadow(0 0 20px white);
}
#content.body_content > .header .text_zone ul li a:hover::after {
    left: -13px;
    width: 150%;
    opacity: 0.9;
}
li{
    list-style: none;
}
.body_content{
    width: 100%;
    display: grid;
}
.header{
    margin: 15px 0 0 0;
    display: inline-flex;
    justify-content: space-between;
    z-index: 152;
    background-color: transparent;
}
.text_zone{
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    align-self: center;
    text-align-last: center;
}
.text_zone > ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
}
.text_zone > ul > li{
    padding: 10px 25px 10px 25px;
}
.text_zone > ul > li > a{
    font-size: 20px;
    z-index: 352;
}
.networks {
    width: auto;
    text-align-last: center;
    padding: 15px;
    overflow: visible;
    align-self: center;
}
.networks > ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
}
.networks > ul > li {
    padding: 0 5px;
}
.networks > ul > li > a {
    display: block;
    width: 100%;
    height: auto;
}
.networks > ul > li > a > img {
    width: 35px;
    transition: filter 0.3s ease;
}
.networks > ul > li > a > img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px white);
}
#content > div > div.networks > ul > li:nth-child(4){
    align-self: center;
    padding: 0 0 3px 0;
}
.info{
    width: 100%;
    min-height: 800px; 
    width: auto;
    display: flex;
    margin-top: 80px;
}
.name {
    background-color: transparent;
    z-index: 300;
    bottom: 100px;
    align-self: center;
    font-size: 2.5em;
    position: relative;
    float: left;
    left: 50%;
    margin-top: -20%;
    transform: translateX(-50%);
    text-align: center;
}

.name > span {
    position: absolute;
    right: 0;
    width: 0;
    background: black;
    border-left: 1px solid white;
    animation: write 7s steps(60) forwards;
}

@keyframes write {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.restartStars{
    display: flex;
    position: relative;
    z-index: 300;
}
.restartStars > a{
    background: transparent;
    color: white;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    font-family: Myriad;
    height: fit-content;
    text-shadow: grey 0px 0 8px;
}
.restartStars > a:hover{
    filter: drop-shadow(0 0 10px white); 
}
#expand_button > a > img{
    display: none;
}
#menu-toggle {
    display: none;
}
/*RESPONSIVE:*/
@media only screen and (max-width: 815px) and (min-width: 700px){
    .text_zone{
        margin-left: 0px;
        
    }
    #scrollToPerfil{
        margin-bottom: 22.5px;
    }
    #languageToggle{
        margin-left: -25px;
        place-self: center;
    }
}
@media screen and (max-width: 750px) {
    #scrollToPerfil{
        margin-bottom: 22.5px;
    }
    .header{
        width: 100%;
    }
    .text_zone{
        margin-left: 0px;
        place-content: space-between;
    }
    .text_zone .menu_items {
        display: none;
        background-color: transparent;
    }
    .text_zone .menu_items.expanded {
        display: block;
        background-color: transparent;
    }
    #expand_button > div{
        margin-left:30px;
    }
    #expand_button > a > img{
        width: 35px;
        display: flex;
    }
    /*Expand menu*/
    .text_zone .menu_items {
        display: none;
        background-color: transparent;
    }
    .text_zone .menu_items.expanded {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10px;
        right: 0;
        margin-top: 50%;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-end;
        background-color: transparent;
    }
    #content.body_content > .header .text_zone ul li a {
        font-size: 30px;
    }
    #expand_button > div{
        z-index: 300;
        background-color: transparent;
    }

    #expand_button > a > img {
        width: 35px;
        display: flex;
    }
    
    .networks {
        position: absolute;
        top: 90%;
        z-index: 999;
        margin-left: 10px;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }
    
    .menu > li {
        margin: 0 1rem;
        
        background-color: transparent;
    }
    
    .menu-button-container {
        display: none;
        z-index: 300;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #menu-toggle {
        display: none;
    }
    
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: white;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }
    
    .menu-button:hover {
        filter: drop-shadow(0 0 10px white);
    }
    
    .menu-button::before {
        content: '';
        margin-top: -8px;
    }
    
    .menu-button::after {
        content: '';
        margin-top: 8px;
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }
    
    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }
    
    .menu-button-container {
        display: flex;
    }
    
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    #menu-toggle:checked ~ .menu.menu_items li {
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: transparent;
    }

    /*Decoration hover*/
    #content.body_content > .header .text_zone ul li a:hover {
        filter: drop-shadow(0 0 20px white);
    }
    #content.body_content > .header .text_zone ul li a:hover::after {
        left: -13px;
        bottom: 13px;
        width: 150%;
        opacity: 0.9;
    }
}
/*@media screen and (max-width: 450px) {*/
/*    #expand_button > ul.menu.menu_items.expanded > li{*/
/*        */
/*    }*/
/*}*/
/*@media screen and (max-width: 350px) {*/
/*    #expand_button > ul.menu.menu_items.expanded > li{*/
/*        */
/*    }*/
/*}*/
@media screen and (max-width: 485px) { 
    #perfil_name > h1 {
        font-size: 2em;
        bottom: 125px;
    }
    #scrollToPerfil{
        margin-bottom: 22.5px;
    }
}
@media screen and (max-width: 388px) {
    #perfil_name > h1 {
        font-size: 1.6em;
        bottom: 125px;
    }
    #scrollToPerfil{
        margin-bottom: 22.5px;
    }
}
/* Icon to header*/
#scrollToPerfil {
    position: fixed;
    z-index: 320;
    background-color: transparent;
    width: 25px;
    height: 25px;
    bottom: 0;
    left: 0;
}
#scrollToPerfil > button {
    background-color: transparent;
    border: none;
    width: 100%;
}
#scrollToPerfil > button > img {
    width: 100%;
    cursor: pointer;
}