@font-face {
    font-family: Myriad;
    src: url(./fonts/Myriad\ Pro\ Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-family: Myriad;
}
a{
    text-decoration: none;
    color: white;
    text-shadow: white 0px 0 20px;
}
a:hover{
    text-decoration: line-through;
    text-shadow: white 0px 0 22px;
    filter: drop-shadow(0 0 10px white);
}
a:focus {
    text-decoration: underline;
    text-decoration-color: white;
    outline: none;
}
li{
    list-style: none;
}
.body_content{
    width: 100%;
    overflow: hidden;
    display: grid;
}
.header{
    display: inline-flex;
    justify-content: space-between;
    z-index: 152;
    background-color: transparent;
}
.text_zone{
    width: auto;
    padding: 15px;
    align-self: center;
    text-align-last: center;
}
.text_zone > ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
}
.text_zone > ul > li{
    padding: 10px 25px 10px 25px;
}
.text_zone > ul > li > a{
    font-size: 20px;
    z-index: 352;
}
.networks {
    width: auto;
    text-align-last: center;
    padding: 15px;
}
.networks > ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
}
.networks > ul > li {
    padding: 0 5px;
}
.networks > ul > li > a {
    display: block;
    width: 100%;
    height: auto;
}
.networks > ul > li > a > img {
    width: 35px;
    transition: filter 0.3s ease;
}
.networks > ul > li > a > img:hover {
    filter: drop-shadow(0 0 10px white);
}
.info{
    width: 100%;
    min-height: 800px; 
    width: auto;
    display: flex;
    margin-top: 80px;
}
.name{
    align-self: center;
    font-size: 2.5em;
    position: relative; 
	float: left;
    margin-top: -20%;
    margin-left: 20%;
    text-align: center;
}
.name > span {
    z-index: 150;
    position:absolute;
    right:0;
    z-index: 0;
    width:0;
    background: black;
    border-left: 1px solid white;
    animation: write 4s steps(30) infinite alternate;
}
@keyframes write {
    from { width: 100% }
    to { width:0 }
}
.restartStars{
    display: flex;
    position: relative;
    z-index: 300;
}
.restartStars > a{
    background: transparent;
    color: white;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    font-family: Myriad;
    height: fit-content;
    text-shadow: grey 0px 0 8px;
}