.music-buttons {
    display:block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    align-items: center;
    z-index: 9999;
}
.music-buttons p {
    font-size: 10px;
    position: absolute;
    top: -5px;
    left: 11px;
}
.music-buttons p {
    filter: drop-shadow(0 0 10px white);
}
.music-buttons button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 5px;
    background-size: cover;
    background-image: url('../assets/play.png');
}
.music-buttons button.stop {
    background-image: url('../assets/stop.png');
}
.music-buttons button:hover{
    filter: drop-shadow(0 0 10px white);
}