.music-buttons {
    display:block;
    position: absolute;
    bottom: 20px;
    left: 8px;
    display: block;
    align-items: center;
    z-index: 9999;
}
.music-buttons button {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px 15px;
    background-size: cover;
    background-image: url('../assets/auriculares.png');
}
.music-buttons button:hover{
    filter: drop-shadow(0 0 10px white);
    transform: scale(1.1);
}
@media screen and (max-width: 750px) {
    .music-buttons{
        position: absolute;
        bottom: 25px;
        left: 98px;
    }
}
@media screen and (max-width: 699px) {
    .music-buttons{
        position: absolute;
        top: 146.5% !important;
        left: 98px;
    }
}