body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.message {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #777;
    margin: 10px 0;
}

a {
    text-decoration: none;
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    font-weight: bold;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #4a4a4a;
}