.visible {
    opacity: 1;
    transition: opacity 1s;
}
.fade-in{
    justify-content: center;
    z-index: 400;
    display: none;
    position: relative;
    top: -700px;
    transition: opacity 0.7s;
    transform: rotateY(0deg) rotateX(0deg);
    justify-content: center;
}
.fade-in.visible {
    animation: fadeInAnimation 1s;
    justify-content: center;
}
.fade-in.active {
    opacity: 1;
    transition: opacity 0.5s;
}
.fade-in > p {
    margin: 10px 20% 10px 20%;
    text-align: justify;
    line-height: 22px;
    justify-content: center;
    border-radius: 10px;
}
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/*
.zoom-in {
    animation: zoomAnimation 3s;
}
@keyframes zoomAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
*/

/*Images mannagment*/
body > div > div > p{
    text-align-last: center;
    padding-bottom: 30px;
}
.tech_images{
    width: 72px;
}

#content > div:nth-child(2) > div > div:nth-child(3) > div:nth-child(2){
    width: 100%;
    text-align: -webkit-center;
    padding: 5% 15%;
}
#content > div:nth-child(2) > div > div:nth-child(3) > div:nth-child(3){
    width: 100%;
    text-align: -webkit-center;
    padding: 5% 15%;
}
#content > div:nth-child(2) > div > div:nth-child(4){
    text-align-last: center;
}
#content > div:nth-child(2) > div > div.fade-in.typing.visible > img{
    justify-self: center;
    margin-bottom: 50px;
}
#content > div:nth-child(2) > div > div:nth-child(3) > img{
    justify-self: center;
    margin-bottom: 50px;
}
#content > div:nth-child(2) > div > div:nth-child(4) > p{
    margin-bottom: 60px;
}