.visible {
    opacity: 1;
    transition: opacity 1s;
}
#content > div:nth-child(2){
    text-align: -webkit-center;
    text-align: center;
}
.fade-in{
    min-height: 700px;
    justify-content: center;
    z-index: 200;
    width: 70%;
    display: inline-grid;
    transition: opacity 0.7s;
    transform: rotateY(0deg) rotateX(0deg);
    justify-content: center;
    position: relative;
}
#content > div:nth-child(2) > div.fade-in.typing > h3{
    width: 320px !important;
}
#content > div:nth-child(2) > div.fade-in.typing > div{
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    text-align: justify;
    background: transparent; 
    filter: grayscale(100%);
}
#content > div:nth-child(2) > div.fade-in.typing > div > p{
    /*opacity: 0;*/
}

#content > div:nth-child(2) > div.fade-in.typing > img{
    place-self: center;
    border-radius: 15px;
    width: 100px;
}
.fade-in.visible {
    animation: fadeInAnimation 1s;
    justify-content: center;
}
.fade-in.active {
    opacity: 1;
    transition: opacity 0.5s;
}
.fade-in > p {
    justify-self: center;
    margin: 10px 20% 10px 20%;
    text-align: justify;
    line-height: 22px;
    align-self: end;
    justify-content: center;
    border-radius: 10px;
    z-index: 350;
}
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#content > div:nth-child(2) > div.fade-in.typing{
    display: flex;
    align-items: center;
    margin-top: -220px !important;
    margin: 0 15%;
}

/*Images mannagment*/
body > div > div > p{
    text-align-last: center;
    display: inline-table;
    padding-bottom: 30px;
    text-align: center;
}
.tech_images{
    margin: 10px;
    width: 80px;
    filter: grayscale(100%);
    transition: filter 0.3s ease 0s;
    z-index: 350;
}

#content > div:nth-child(2) > div:nth-child(3) > div:nth-child(2){
    width: 100%;
    text-align: -webkit-center;
    padding: 0 15%;
}
#content > div:nth-child(2) > div:nth-child(3) > div:nth-child(3){
    width: 100%;
    text-align: -webkit-center;
    padding: 5% 15%;
}
#content > div:nth-child(2) > div:nth-child(4){
    text-align-last: center;
}
#content > div:nth-child(2) > div.fade-in.typing.visible > img{
    justify-self: center;
    margin-bottom: 50px;
}
#content > div:nth-child(2) > div:nth-child(3) > img{
    justify-self: center;
    margin-bottom: 50px;
}
#content > div:nth-child(2) > div:nth-child(4) > p{
    margin-bottom: 60px;
}
@media screen and (max-height: 840px) { 
    .tech_images{
        margin: 4px;
        width: 45px;
    }
    .fade-in > p {
        font-size: 10px;
        line-height: 12px;
    }
    #content > div:nth-child(2) > div > div:nth-child(3){
        margin-top: 80px;
    }
}